<div class="gacha">
    <div class="lottery">
        <div class="lottery-img">
            <img src="/assets/images/lottery.png">
        </div>
        <div class="lottery-details">
            <h3>{{i18n "discourse_rewards.gacha.lottery.title"}}</h3>
            <div class="lottery-instructions">
                <p class="help">{{i18n "discourse_rewards.gacha.lottery.instructions"}}</p>
            </div>
            {{d-button
            disabled=isButtonDisabled
            action=(action "lottery")
            class="btn-primary button"
            icon=""
            label="discourse_rewards.gacha.lottery.button"
            }}
        </div>
    </div>
</div>