<label class="control-label">{{i18n "discourse_rewards.user_preferences.label"}}</label>
{{preference-checkbox labelKey="discourse_rewards.user_preferences.show_points_leaderboard" checked=user.custom_fields.discourse_rewards_show_points_leaderboard}}